{
  "functionUrl": "https://<function-app>.azurewebsites.net/api/devices/import",
  "groupTagUrl": "https://<function-app>.azurewebsites.net/api/devices/group-tag",
  "managementUrl": "https://<function-app>.azurewebsites.net/api/management/tag-policy",
  "apiApplicationIdUri": "api://<application-client-id>",
  "tenantId": "<tenant-id>",
  "subscriptionId": "<subscription-id>",
  "resourceGroupName": "<resource-group-name>",
  "functionAppName": "<function-app-name>",
  "webUrl": "https://<function-app>.azurewebsites.net/api/ui/index.html",
  "webClientId": "<web-application-client-id>"
}